*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache
.vagrant
.sass-cache

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/

test.*

# Ignore sources from page branch

source
lib
README.md
Rakefile
LICENSE
Gemfile
Gemfile.lock
font-selection.json
config.rb
.editorconfig
